---
interface Props {
  title: string;
  tags: string[];
  image?: string;
  href: string;
}

const { title, tags, image, href } = Astro.props;
---

<a href={href} class="group">
  <article
    class="bg-white rounded-xl overflow-hidden shadow-sm hover:shadow-md hover:scale-105 active:scale-100 transition-all hover:-translate-y-3 flex flex-col items-center pb-6"
  >
    <header class="w-full aspect-card bg-gray mb-6">
      {
        image && (
          <img src={image} alt={title} class="w-full h-full object-cover" />
        )
      }
    </header>

    <h3 class="text-xl font-bold mb-4">{title}</h3>

    <footer class="flex gap-2">
      {
        tags.map((tag) => (
          <span class="px-3 py-1 border rounded-full text-xs font-medium">
            {tag}
          </span>
        ))
      }
    </footer>
  </article>
</a>
